/* ============================
Project Name: Small Business Marketing Aids
Version: 1.1
Author: Edwin
First Update: 11/12/2020
Last Update: 11/12/2020
License: GNU General Public License v2 or later
============================*/

/* ============================
Variables
============================*/
:root {
	--color: #000000;
	--brand-primary-color: #E30613;
	--brand-secondary-color: #000000;
	--brand-light-color: #FAFAFA;
	--brand-font: "Avenir Next";
	--color: #000000;
	--heading-color: #000000;
	--form-border-color: #999999;
}

/* ============================
Reset style
============================*/
html {
	scroll-behavior: smooth;
}
body {
	font-family: var(--brand-font);
	font-size: 16px;
	font-weight: 400;
	color: var(--color);
}
button,
a { display: inline-block; }
a,
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}
button,
button:hover,
button:focus {
	outline: none;
}
h1, h2, h3, h4, h5, h6 { 
	font-weight: 600; 
	color: var(--heading-color);
}
ul li {
	font-size: 18px;
}
p { 
	font-size: 18px;
	font-weight: 400; 
	line-height: 1.8;
}
img { max-width: 100%; }

/* ============================
Bootstrap / User Reset
============================*/
.btn:focus,
button:focus { box-shadow: none; }
.form-control { height: auto; }
.form-control:focus { box-shadow: none; }
.ul-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}


/* ============================
# Elements
============================*/
.btn-brand {
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	display: inline-flex;
	align-items: center;
	padding: 10px 24px 11px 24px;
	border-radius: 4px;
	position: relative;
	background: var(--brand-primary-color);
	text-transform: uppercase;
	transition: all .35s ease-in-out;
	z-index: 1;
}
.btn-brand:hover {
	color: #FFFFFF;
	border-color: var(--brand-secondary-color);
}
.btn-brand:before {
	content: '';
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	border-radius: 4px;
	transition: all .25s ease-in-out;
	z-index: -1;
}
.btn-brand:hover:before { width: 100%; }
.btn-brand.has-arrow:after {
	content: '';
	background: transparent url('../img/btn-right-arrow.svg') no-repeat center center/auto;
	width: 18px;
	height: 20px;
	display: inline-block;
	margin-left: 12px;
	transition: all .30s ease-in-out;
}
.btn-brand.has-arrow:hover:after { margin-left: 18px; }
.btn-brand.btn-brand-white {
	color: var(--brand-primary-color);
	background: #FFFFFF;
}
.btn-brand.btn-brand-white:hover { color: #FFFFFF; }
.btn-brand.btn-brand-white.has-arrow:after { background: transparent url('../img/btn-right-red-arrow.svg') no-repeat center/auto; }
.btn-brand.btn-brand-white.has-arrow:hover:after { background: transparent url('../img/btn-right-arrow.svg') no-repeat center/auto; }
.main-title {
	font-size: 44px;
	font-weight: 500;
	margin-bottom: 30px;
}
.main-title .brand-color { color: var(--brand-primary-color); }
.title-panel { margin-bottom: 70px; }
.title-panel .main-title { margin-bottom: 4px; }
.title-panel p {
	font-size: 28px;
	font-weight: 400;
	color: #383838;
	margin-bottom: 0;
	line-height: 1.35;
}
.border-top-line {
	position: relative;
	padding-top: 6px;
}
.border-top-line:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 38px;
	height: 2px;
	background: var(--brand-primary-color);
}
.form-group-alt { margin-bottom: 20px; }
.form-group-alt .form-control {
	font-size: 18px;
	padding: 7px 14px;
	border-color: transparent;
	box-shadow: 0px 1px 6px #00000029;
}
.form-group-line { margin-bottom: 28px; }
.form-group-line .form-control {
	color: var(--color);
	border: 0;
	border-bottom: 1px solid var(--form-border-color);
	border-radius: 0;
	padding: 2px 0 10px 0;
}
.form-group-line .form-control:focus {
	border-bottom: 1px solid var(--brand-secondary-color);
	box-shadow: inset 0px -3px 0px 0px var(--brand-secondary-color);
}
.form-group-line .form-control::-webkit-input-placeholder { color: #999999; }
.form-group-line .form-control::-moz-placeholder { color: #999999; }
.form-group-line .form-control:-ms-input-placeholder { color: #999999; }
.form-group-line .form-control:-moz-placeholder { color: #999999; }
.custom-control-input:checked ~ .custom-control-label::before {
	border-color: var(--brand-primary-color);
	background-color: var(--brand-primary-color);
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
	background-color: var(--brand-primary-color);
	border-color: var(--brand-primary-color);
}


@media (max-width: 1399px) {
	.main-title { font-size: 40px; }
	.title-panel p { font-size: 24px; }
}
@media (max-width: 1199px) {
	.main-title { font-size: 38px; }
	.title-panel p { font-size: 22px; }
}
@media (max-width: 991px) {
	.main-title { font-size: 36px; }
	.title-panel p { font-size: 20px; }
}
@media (max-width: 767px) {
	.title-panel { margin-bottom: 50px; }
	.main-title {
		font-size: 32px;
		margin-bottom: 20px;
	}
	.title-panel p { font-size: 18px; }
	ul li { font-size: 16px; }
	p { 
		font-size: 16px;
		line-height: 1.7;
	}
}
@media (max-width: 575px) {
	.main-title {
		font-size: 30px;
		margin-bottom: 18px;
	}
	.form-group-line { margin-bottom: 20px; }
}


/* ============================
# Header
============================*/
.site-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 0;
	z-index: 100;
	transition: all .30s ease-in-out;
}
.site-header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: #FFFFFF;
	transition: all .30s ease-in-out;
}
.brand {
	position: relative;
	z-index: 100;
}
.brand a { display: block; }
.brand svg .cls-1 {
	fill: #FFFFFF;
	transition: all .30s ease-in-out;
}
.header-call { margin-left: auto; }
.header-call .btn-brand {
	font-size: 16px;
	display: inline-flex;
	align-items: center;
}
.header-call .btn-brand img { margin-right: 12px; }
.header-call .btn-brand:hover { color: var(--brand-secondary-color); }
.header-call .btn-brand::before { background: #FFFFFF; }
.header-call .btn-brand:hover img { filter: invert(100%); }

/*scrolled*/
.site-header.scrolled {
	position: fixed;
	padding: 20px 0;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.site-header.scrolled:before { height: 100%; }
.site-header.scrolled .brand svg .cls-1 { fill: #000; }
.site-header.scrolled .brand #MrDigitalLogo #MrCircle, 
.site-header.scrolled .brand #MrDigitalLogo .cls-1.cls-3 { fill: #e30613; }

@media (max-width: 575px) {
	.site-header { padding: 20px 0; }
	.brand svg {
		width: 160px;
		height: 43px;
	}
	.header-call .btn-brand {
		background: transparent;
		border: 0;
		padding: 10px 14px 11px 14px;
	}
	.header-call .btn-brand:hover { background: transparent; }
	.header-call .btn-brand:hover::before { width: 0; }
	.header-call .btn-brand img {
		width: 26px;
		margin-right: 0;
	}
	.header-call .btn-brand .btn-txt { display: none; }
	.site-header.scrolled { padding: 15px 0; }
	.site-header.scrolled .header-call .btn-brand img { filter: invert(100%); }
}


/* ============================
# Main style
============================*/

/*=============== section main banner ===============*/
.section-main-banner {
	background: var(--brand-primary-color) url('../img/main-banner.png') no-repeat center/cover;
	text-align: center;
	padding: 230px 0 140px 0;
	position: relative;
}
.section-main-banner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--brand-secondary-color);
	opacity: 0.75;
}
.section-main-banner .main-title {
	font-weight: 700;
	color: #FFFFFF;
}
.section-main-banner .lead {
	font-size: 22px;
	color: #FFFFFF;
	line-height: 1.5;
}
.section-main-banner .btn { margin-top: 24px; }
.section-main-banner .btn-brand:hover { color: var(--brand-primary-color); }
.section-main-banner .btn-brand:hover:before { background: #FFFFFF; }
.section-main-banner .btn-brand:hover:after { background-image: url('../img/btn-right-red-arrow.svg'); }

@media (max-width: 1199px) {
	.section-main-banner { padding: 200px 0 100px 0; }
}
@media (max-width: 991px) {
	.section-main-banner .lead { font-size: 20px; }
}
@media (max-width: 767px) {
	.section-main-banner { padding: 180px 0 70px 0; }
	.section-main-banner .lead { font-size: 18px; }
}
@media (max-width: 575px) {
	.section-main-banner { padding: 150px 0 70px 0; }
	.section-main-banner .main-title {
		font-size: 28px;
		line-height: 1.2;
	}
}


/*=============== section main area ===============*/
.section-main-area { 
	padding: 120px 0 90px 0; 
	position: relative;
}
.section-main-area .area-panel { margin-bottom: 80px; }
.section-main-area .area-panel:last-child { margin-bottom: 0; }
.section-main-area .area-panel p strong { text-decoration: underline; }
.section-main-area .main-title { text-align: center; }
.section-main-area-alt p {
	font-size: 20px;
	line-height: 2;
	margin-bottom: 22px;
}
.section-main-area .panel-btn {
	text-align: center;
	margin-top: 50px;
}
.screen-media-panel {
	background: #FFFFFF;
	border-radius: 4px;
	box-shadow: 0px 4px 6px #0000003C;
	margin-bottom: 30px;
}
.screen-media-panel a { display: block; }
.screen-media-panel a img {
	width: 100%;
	display: block;
	border-radius: 4px;
	transition: all .30s ease-in-out;
}

@media (max-width: 1399px) {
	.section-main-area { padding: 120px 0 120px 0; }
}
@media (max-width: 1199px) {
	.section-main-area { padding: 90px 0 80px 0; }
}
@media (max-width: 991px) {
	.section-main-area { padding: 70px 0 60px 0; }
	.section-main-area .area-panel { margin-bottom: 50px; }
}
@media (max-width: 767px) {
	.section-main-area .area-panel { margin-bottom: 40px; }
	.section-main-area .panel-btn {
		margin-top: 40px;
	}
	.section-main-area-alt p {
		font-size: 18px;
		line-height: 1.8;
		margin-bottom: 18px;
	}
	.row-popup-gallery {
		margin-left: -10px;
		margin-right: -10px;
	}
	.row-popup-gallery [class*="col-"] {
		padding-left: 10px;
		padding-right: 10px;
	}
	.screen-media-panel {
		box-shadow: 0px 2px 4px #0000003C;
		margin-bottom: 10px;
	}
}



/*=============== section carousel ===============*/
.section-portfolio {
	padding: 110px 0 120px 0;
	overflow: hidden;
}
.section-portfolio .title-panel { 
	margin-bottom: 160px;
	text-align: center; 
}
.section-portfolio .panel-btn {
	margin-top: 70px;
	text-align: center;
}
.carousel-frame {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
.carousel-panel {
	position: relative;
	overflow: hidden;
	opacity: 0.4;
	transition: all .30s ease-in-out;
}
.carousel-panel .panel-overlay {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 90px 36px 22px 36px; 
	background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
	transform: translateY(50%);
	opacity: 0;
	transition: all .30s ease-in-out;
}
.carousel-panel .panel-overlay h4 {
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	margin-bottom: 4px;
}
.carousel-panel .panel-overlay p {
	font-size: 12px;
	color: #FFFFFF;
	margin-bottom: 0;
	line-height: 1.5;
}
.portfolio-carousel .owl-stage-outer { overflow: visible; }
.portfolio-carousel .owl-stage {
	display: flex;
	align-items: center;
}
.portfolio-carousel .owl-nav {
	position: absolute;
	width: 100%;
	max-width: 948px;
	height: 0;
	top: calc(50% - 90px);
	left: 50%;
	transform: translate(-50% ,-50%);
}
.portfolio-carousel .owl-nav button.owl-prev { float: left; }
.portfolio-carousel .owl-nav button.owl-next { float: right; }
.portfolio-carousel .owl-dots {
	text-align: center;
	line-height: 0;
	margin-top: 120px;
}
.portfolio-carousel .owl-dots button.owl-dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #E0E0E0;
	margin: 0 10px;
}
.portfolio-carousel .owl-dots button.owl-dot.active { background: var(--brand-primary-color); }
.portfolio-carousel .owl-item.center { z-index: 10; }
.portfolio-carousel .owl-item.center .carousel-panel {
	opacity: 1;
	transform: scale(1.4);
	border-radius: 10px;
	box-shadow: 0 5px 11px #00000038;
}
.portfolio-carousel .owl-item.center .carousel-panel .panel-media img { border-radius: 10px; }
.portfolio-carousel .owl-item.center .carousel-panel .panel-overlay {
	transform: translateY(0);
	opacity: 1;
}

@media (max-width: 1399px) {
	.section-portfolio { padding: 110px 0 120px 0; }
}
@media (max-width: 1199px) {
	.section-portfolio { padding: 90px 0 100px 0; }
}
@media (max-width: 991px) {
	.section-portfolio { padding: 70px 0 80px 0; }
	.section-portfolio .title-panel { margin-bottom: 50px; }
	.carousel-frame { padding: 0 15px; }
	.portfolio-carousel .owl-item.center .carousel-panel { transform: scale(1); }
	.portfolio-carousel .owl-nav {
		top: calc(50% - 50px);
		width: 100%;
		padding: 0 30px;
	}
	.portfolio-carousel .owl-dots { margin-top: 50px; }
	.carousel-panel .panel-overlay h4 { font-size: 18px; }
	.carousel-panel .panel-overlay p { font-size: 16px; }
}
@media (max-width: 767px) {
	.section-portfolio { padding: 60px 0 70px 0; }
	.portfolio-carousel .owl-item.center .carousel-panel .panel-overlay {
		transform: translateY(0);
		opacity: 1;
	}
}
@media (max-width: 575px) {
	.section-portfolio .title-panel { margin-bottom: 40px; }
	.section-portfolio .panel-btn { margin-top: 70px }
	.carousel-panel .panel-overlay h4 { font-size: 16px; }
	.carousel-panel .panel-overlay p { display: none; }
	.portfolio-carousel .owl-nav { display: none; }
	.portfolio-carousel .owl-dots { margin-top: 40px; }
}


/*=============== section faq ===============*/
.section-faq { padding: 100px 0 100px 0; }
.section-faq .title-panel { text-align: center; }
.accordion-alt .card { border: 0; }
.accordion-alt .card, 
.accordion-alt > .card:first-of-type, 
.accordion-alt > .card:not(:first-of-type):not(:last-of-type) {
	border-bottom: 1px solid #e5e5e5;
	border-radius: 0;
}
.accordion-alt .card:last-child { border-bottom: 0; }
.accordion-alt .card .card-header {
	background: transparent;
	padding: 0;
	border-bottom: 0;
}
.accordion-alt .card .card-header .btn {
	font-size: 18px;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
	width: 100%;
	display: block;
	padding: 18px 0;
	text-align: left;
	border-radius: 0;
	padding-right: 30px;
	position: relative;
}
.accordion-alt .card .card-header .btn .rotate-icon {
	position: absolute;
	top: 14px;
	right: -2px;
	transform: rotate(-45deg);
	transition: all .30s ease-in-out;
}
.accordion-alt .card .card-header .btn.collapsed .rotate-icon { transform: rotate(0); }
.accordion-alt .card .card-body { padding: 10px 0px 10px 0px; }

@media (max-width: 1199px) {
	.section-faq { padding: 90px 0 100px 0; }
}
@media (max-width: 991px) {
	.section-faq { padding: 70px 0 80px 0; }
}
@media (max-width: 767px) {
	.section-faq { padding: 60px 0 80px 0; }
}
@media (max-width: 575px) {
	.accordion-alt .card .card-header .btn {
		font-size: 16px;
		padding: 16px 0;
	}
	.accordion-alt .card .card-body { padding: 16px 15px 6px 15px; }
}


/*=============== section points ===============*/
.section-points {
	padding: 100px 0 100px 0;
	background: #F5F5F5 url('../img/brick-wall-pattern.png') repeat center/auto;
}
.section-points .main-title { 
	margin-bottom: 70px; 
	text-align: center;
}
.point-panel ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.point-panel ul li {
	position: relative;
	padding-left: 46px;
	background: transparent url('../img/red-round-check.svg') no-repeat left top 4px/22px;
	margin-bottom: 20px;
}
.package-panel { 
	margin-top: 50px; 
	text-align: center;
}
.package-panel .title {
	font-size: 28px;
	margin-bottom: 28px;
}
.package-panel .title span {
	font-size: 22px;
	display: block;
	margin-top: 4px;
}

@media (max-width: 1399px) {
	.section-points { padding: 120px 0 120px 0; }
}
@media (max-width: 1199px) {
	.section-points { padding: 90px 0 100px 0; }
	.section-points .main-title { margin-bottom: 44px; }
}
@media (max-width: 991px) {
	.section-points { padding: 70px 0 80px 0; }
	.section-points .main-title { margin-bottom: 36px; }
	.package-panel .title {
		text-align: center;
		margin-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.section-points { padding: 60px 0 70px 0; }
	.point-panel ul li {
		padding-left: 36px;
		background-position: left top 5px;
		background-size: 16px;
		margin-bottom: 16px;
	}
	.package-panel .title {
		font-size: 24px;
		margin-bottom: 26px;
	}
	.package-panel .title span {
		font-size: 18px;
		margin-top: 6px;
	}
}
@media (max-width: 575px) {
	.section-points .main-title { text-align: center; }
	.package-panel { margin-top: 40px; }
}


/*=============== section proof ===============*/
.section-proof { padding: 110px 0 80px 0; }
.section-proof .title-panel { text-align: center; }
.expert-carousel .owl-nav {
	position: absolute;
	top: calc(50% - 40px);
	left: 0;
	width: 100%;
	height: 0;
	transform: translateY(-50%);
}
.expert-carousel .owl-nav button.owl-prev,
.expert-carousel .owl-nav button.owl-next {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;
	border-radius: 50px;
	background: #FFFFFF;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
.expert-carousel .owl-nav button.owl-prev {
	float: left;
	margin-left: -23px;
}
.expert-carousel .owl-nav button.owl-next {
	float: right;
	margin-right: -23px;
}
.expert-carousel .owl-nav button.owl-prev img,
.expert-carousel .owl-nav button.owl-next img {
	width: 18px;
	height: 18px;
}
.expert-carousel .owl-dots {
	line-height: 0;
	text-align: center;
	margin-top: 30px;
	display: none;
}
.expert-carousel .owl-dots button.owl-dot {
	width: 20px;
	height: 2px;
	background: #CCCCCC;
	margin: 0 6px;
	border-radius: 0;
	border: 0;
}
.expert-carousel .owl-dots button.owl-dot.active {
	background: #E30613;
	border: 0;
}
.expert-work-panel {
	position: relative;
	overflow: hidden;
}
.expert-work-panel a {
	display: block;
}
.expert-work-panel img {
	width: 100%;
	display: block;
	border-radius: 10px;
}
.expert-work-panel .panel-content {
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #d20511bd;
	padding: 30px;
	border-radius: 0 0 10px 10px;
	transform: translateY(100%);
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.expert-work-panel .panel-content h4 {
	font-size: 22px;
	font-weight: 700;
	color: #FFFFFF;
	margin-bottom: 12px;
}
.expert-work-panel .panel-content p {
	line-height: 1.6;
	margin-bottom: 0;
}
.expert-work-panel:hover .panel-content  {
	transform: translateY(0);
	opacity: 1;
}

@media (max-width: 1199px) {
	.section-proof { padding: 95px 0 100px 0; }
}
@media (max-width: 991px) {
	.section-proof { padding: 75px 0 80px 0; }
}
@media (max-width: 767px) {
	.section-proof { padding: 65px 0 70px 0; }
	.expert-carousel .owl-nav {
		position: static;
		width: 50%;
		margin: 30px auto 0 auto;
	}
	.expert-carousel .owl-nav button.owl-prev { margin-left: 15px; }
	.expert-carousel .owl-nav button.owl-next { margin-right: 15px; }
	.expert-work-panel { overflow: auto; }
	.expert-work-panel .panel-content {
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 30px 15px 30px 15px;
		transform: translateY(0);
		opacity: 1;
	}
	.expert-work-panel .panel-content h4 { font-size: 20px; }
}


/*=============== SECTION VIDEO TESTIMONIALS ===============*/
.section-video-testimonial {
	position: relative;
	padding: 120px 0 100px 0;
	background: #000000 url('../img/video-testimonial.jpg') no-repeat center/cover;
	z-index: 10;
}
.section-video-testimonial:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.9;
	z-index: -1;
}
.section-video-testimonial .title-panel {
	text-align: center;
	margin-bottom: 80px;
}
.section-video-testimonial .title-panel .main-title { color: #FFFFFF; }
.section-video-testimonial .title-panel p { color: #FFFFFF; }
.video-testimonials .owl-nav {
	position: absolute;
	top: calc(50% - 40px);
	left: 0;
	width: 100%;
	height: 0;
	transform: translateY(-50%);
}
.video-testimonials .owl-nav button.owl-prev,
.video-testimonials .owl-nav button.owl-next {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;
	border-radius: 50px;
	background: #FFFFFF;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
.video-testimonials .owl-nav button.owl-prev {
	float: left;
	margin-left: -23px;
}
.video-testimonials .owl-nav button.owl-next {
	float: right;
	margin-right: -23px;
}
.video-testimonials .owl-nav button.owl-prev img,
.video-testimonials .owl-nav button.owl-next img {
	width: 18px;
	height: 18px;
}
.video-testimonials .owl-dots {
	line-height: 0;
	text-align: center;
	margin-top: 30px;
}
.video-testimonials .owl-dots button.owl-dot {
	width: 20px;
	height: 2px;
	background: #FFFFFF;
	margin: 0 6px;
	border-radius: 0;
	border: 0;
}
.video-testimonials .owl-dots button.owl-dot.active {
	background: #E30613;
	border: 0;
}

@media (max-width: 1199px) {
	.section-video-testimonial { padding: 95px 0 100px 0; }
}
@media (max-width: 991px) {
	.section-video-testimonial { padding: 75px 0 80px 0; }
}
@media (max-width: 767px) {
	.section-video-testimonial { padding: 65px 0 70px 0; }
	.section-video-testimonial .title-panel { margin-bottom: 50px; }
	.video-testimonials .owl-nav {
		display: none;
	}
}


/*===============  SECTION APPLY BANNER ===============*/
.section-apply-banner {
	padding: 70px 0 70px 0;
	text-align: center;
}
.section-apply-banner .main-title { margin-bottom: 40px; }

@media (max-width: 767px) {
	.section-apply-banner { padding: 50px 0 50px 0; }
}


/*===============  SECTION TESTIMONIAL ===============*/
.section-testimonial { padding: 110px 0 110px 0; }
.section-testimonial .main-title {
	text-align: center;
	margin-bottom: 80px;
}
.section-testimonial .apply-button-panel {
	text-align: center;
	margin-top: 70px;
}
.blockquote-alt {
	padding-top: 30px;
	margin-bottom: 0;
}
.blockquote-alt .blockquote-body {
	position: relative;
	padding: 50px 40px 30px 40px;
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	min-height: 400px;
}
.blockquote-alt .blockquote-icon {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	line-height: 54px;
	text-align: center;
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	top: -30px;
	left: 50%;
	margin-left: -30px;
	z-index: 10;
}
.blockquote-alt .blockquote-icon img {
	display: inline-block;
	width: 30px
}
.blockquote-alt .tri-down-frame {
	position: absolute;
	bottom: -58px;
	left: 50%;
	margin-left: -16px
}
.blockquote-alt .tri-down-frame .tri-down {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 28px 16px 0;
	border-color: #E5E5E5 transparent transparent transparent;
	position: relative;
}
.blockquote-alt .tri-down-frame .tri-down:after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 26px 16px 0;
	border-color: #FFFFFF transparent transparent transparent;
	position: absolute;
	top: -29px;
	left: -16px;
	z-index: 1000;
}
.blockquote-alt .blockquote-footer:before { display: none; }
.blockquote-alt .blockquote-footer {
	text-align: center;
	margin-top: 50px;
}
.blockquote-alt .blockquote-footer img {
	display: inline-block;
	width: 54px;
	height: 54px;
	border-radius: 100%;
	border: 1px solid #E5E5E5;
	padding: 2px;
}
.blockquote-alt .blockquote-footer p {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4;
	margin: 8px 0 0 0;
}
.testimonial-carousel .owl-nav { display: none; }
.testimonial-carousel .owl-dots {
	text-align: center;
	line-height: 0;
	margin-top: 36px;
}
.testimonial-carousel .owl-dots button.owl-dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #E0E0E0;
	margin: 0 10px;
}
.testimonial-carousel .owl-dots button.owl-dot.active { background: var(--brand-primary-color); }

@media (max-width: 1399px) {
	.blockquote-alt .blockquote-body { min-height: 440px; }
}
@media (max-width: 1199px) {
	.section-testimonial { padding: 90px 0 100px 0; }
	.blockquote-alt .blockquote-body { min-height: auto; }
}
@media (max-width: 991px) {
	.section-testimonial { padding: 70px 0 80px 0; }
	.section-testimonial .main-title { margin-bottom: 60px; }
}
@media (max-width: 767px) {
	.section-testimonial { padding: 60px 0 70px 0; }
	.section-testimonial .main-title { margin-bottom: 42px; }
	.section-testimonial .apply-button-panel { margin-top: 56px; }
	.testimonial-carousel .owl-dots { margin-top: 20px; }
	.blockquote-alt .blockquote-body { padding: 38px 20px 20px 20px; }
	.blockquote-alt .blockquote-icon {
		width: 50px;
		height: 50px;
		border-radius: 100%;
		line-height: 40px;
	}
	.blockquote-alt .blockquote-icon img { width: 24px; }
}
@media (max-width: 575px) {
	.section-testimonial .main-title { margin-bottom: 32px; }
}


/*=============== SECTION PROCESS ===============*/
.section-process { padding: 100px 0 120px 0; }
.process-list .row {
	margin-left: -36px;
	margin-right: -36px;
	margin-bottom: 52px;
}
.process-list .row [class*="col-"] {
	padding-left: 36px;
	padding-right: 36px;
}
.process-list .panel-img {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
.process-list .panel-img img { width: 100%; }
.process-list .panel-txt h4 {
	font-size: 30px;
	margin-bottom: 15px;
}
.process-list .panel-txt p { margin-bottom: 0; }
.triangle-bottom-left,
.triangle-bottom-right {
	width: 0;
	height: 0;
	border-bottom: 90px solid var(--brand-primary-color);
}
.triangle-bottom-left {
	border-right: 100px solid transparent;
	text-align: left;
}
.triangle-bottom-right {
	border-left: 100px solid transparent;
	text-align: right;
}
.triangle-bottom-left .num,
.triangle-bottom-right .num {
	font-size: 32px;
	font-weight: 400;
	color: #fff;
	position: absolute;
	bottom: -80px;
	z-index: 100;
}
.triangle-bottom-left .num { left: 15px; }
.triangle-bottom-right .num { right: 15px; }
.process-list .panel-img .triangle-bottom-left,
.process-list .panel-img .triangle-bottom-right {
	position: absolute;
	bottom: 0;
}
.process-list .panel-img .triangle-bottom-right { right: 0; }
.process-list .panel-img .triangle-bottom-left { left: 0; }
.process-button-panel {
	text-align: center;
	margin-top: 70px;
}

@media (max-width: 1399px) {
	.section-process { padding: 120px 0 120px 0; }
	.process-list .panel-txt h4 { font-size: 26px; }
}
@media (max-width: 1199px) {
	.section-process { padding: 90px 0 100px 0; }
	.process-list .row {
		margin-left: -26px;
		margin-right: -26px;
		margin-bottom: 42px;
	}
	.process-list .row [class*="col-"] {
		padding-left: 26px;
		padding-right: 26px;
	}
	.process-button-panel { margin-top: 34px; }
}
@media (max-width: 991px) {
	.section-process { padding: 70px 0 80px 0; }
	.process-list .row {
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 50px;
	}
	.process-list .row [class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.process-list .panel-img { margin-bottom: 30px; }
	.process-list .panel-txt h4 {
		font-size: 24px;
		margin-bottom: 12px;
	}
}
@media (max-width: 767px) {
	.section-process { padding: 60px 0 70px 0; }
	.process-list .panel-txt h4 { font-size: 20px; }
	.process-button-panel { margin-top: 12px; }
}


/* ============================
# Footer
============================*/
.top-footer {
	background: var(--brand-primary-color);
	padding: 30px 0;
}
.top-footer .title {
	font-size: 34px;
	font-weight: 600;
	color: #FFFFFF;
	margin-bottom: 0;
}
.top-footer .row-forms {
	margin-left: -8px;
	margin-right: -8px;
}
.top-footer .row-forms [class*="col-"] {
	padding-left: 8px;
	padding-right: 8px;
}
.top-footer .form-group { margin-bottom: 0; }
.top-footer .form-group .form-control {
	color: #FFFFFF;
	border: 0;
	border-radius: 3px;
	background: rgba(255,255,255,0.3);
	padding: 12px 16px;
}
.top-footer .form-group .form-control::-webkit-input-placeholder { color: #FFFFFF; }
.top-footer .form-group .form-control::-moz-placeholder { color: #FFFFFF; }
.top-footer .form-group .form-control:-ms-input-placeholder { color: #FFFFFF; }
.top-footer .form-group .form-control:-moz-placeholder { color: #FFFFFF; }
.top-footer .btn-brand {
	display: block;
	width: 100%;
	background: #FFFFFF;
	color: var(--brand-primary-color);
	padding: 12px 24px 13px 24px;
}
.top-footer .btn-brand:hover { color: #FFFFFF; }
.main-footer {
	background: #000000;
	color: #FFFFFF;
	padding: 50px 0;
}
.footer-col-brand {
	display: flex;
	align-items: center;
}
.footer-brand {
	width: 235px;
	flex: 0 0 235px;
}
.footer-brand img {
	width: 235px;
	flex: 0 0 235px;
}
.footer-address {
	list-style: none;
	margin: 0 0 0 40px;
	padding: 0;
}
.footer-address li {
	font-size: 16px;
	margin-bottom: 12px;
	padding-left: 30px;
	position: relative;
}
.footer-address li:last-child { margin-bottom: 0; }
.footer-address li p {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 0;
}
.footer-address li a { color: #FFFFFF; }
.footer-address li a:hover { text-decoration: underline; }
.footer-address li img {
	position: absolute;
	top: 4px;
	left: 0;
	width: 18px;
}
.footer-google-partner { text-align: right; }
.bottom-footer {
	background: #222222;
	padding: 15px 0;
}
.bottom-footer .breadcrumb {
	background: transparent;
	margin-bottom: 0;
	padding: 0;
}
.bottom-footer .breadcrumb .breadcrumb-item {
	font-size: 14px;
	color: #FFFFFF;
}
.bottom-footer .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
	content: "|";
	color: #FFFFFF;
}
.bottom-footer .breadcrumb .breadcrumb-item a { color: #FFFFFF; }
.bottom-footer .breadcrumb .breadcrumb-item a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.footer-social-icons { text-align: right; }
.footer-social-icons a {
	font-size: 18px;
	color: #FFFFFF;
	display: inline-block;
	background: var(--brand-primary-color);
	padding: 8px 10px;
	margin-left: 6px;
	line-height: 1;
	border-radius: 3px;
}

@media (max-width: 1199px) {
	.top-footer .title {
		margin-bottom: 20px;
		text-align: center;
	}
	.footer-address { margin: 0 0 0 30px; }
}
@media (max-width: 991px) {
	.footer-google-partner {
		text-align: center;
		margin-bottom: 20px;
	}
	.footer-brand {
		width: 200px;
		flex: 0 0 200px;
	}
	.footer-brand img { width: 200px; }
	.footer-address { margin: 0 0 0 20px; }
	.footer-address li { margin-bottom: 10px; }
	.bottom-footer .breadcrumb { justify-content: center; }
	.footer-social-icons {
		text-align: center;
		margin-bottom: 16px;
	}
	.footer-social-icons a { margin: 0 6px; }
}
@media (max-width: 767px) {
	.top-footer .title { font-size: 30px; }
	.top-footer .form-group { margin-bottom: 10px; }
	.footer-col-brand { flex-wrap: wrap; }
	.footer-google-partner img { width: 180px; }
	.footer-brand {
		width: 170px;
		flex: 0 0 170px;
		margin: 0 auto;
	}
	.footer-brand img { width: 170px; }
	.footer-address {
		margin: 30px auto 0 auto;
		text-align: center;
		width: 80%;
	}
	.footer-address li {
		margin-bottom: 20px;
		padding: 30px 0 0 0;
	}
	.footer-address li img {
		top: 0;
		left: 50%;
		margin-left: -9px;
	}
}


/* ============================
# Thank you page
============================*/
.ty-full-page {
	display: flex;
	align-items: center;
	padding: 40px 0;
	width: 100%;
	height: calc(100vh - 254px);
	position: relative;
}
.ty-full-page #MrDigitalLogo .cls-1 { fill: var(--brand-secondary-color); }
.ty-full-page #MrDigitalLogo #MrCircle, 
.ty-full-page #MrDigitalLogo .cls-1.cls-3 { fill: var(--brand-primary-color); }
.ty-full-page .panel-brand {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 40px;
	left: 0;
}
.ty-full-page .panel-body { text-align: center; }
.ty-full-page .panel-body h1 {
	font-size: 84px;
	font-weight: 600;
	color: var(--brand-primary-color);
}
.ty-full-page .panel-body p {
	font-size: 22px;
	font-weight: 400;
	color: var(--brand-secondary-color);
	margin-bottom: 0;
}

@media (max-width: 1199px) {
	.ty-full-page {
		padding: 180px 0 120px 0;
		height: 100%;
	}
	.ty-full-page .panel-brand { top: 30px; }
	.ty-full-page .panel-body h1 { font-size: 64px; }
}
@media (max-width: 991px) {
	.ty-full-page .panel-body h1 { font-size: 52px; }
	.ty-full-page .panel-body p { font-size: 20px; }
}


/* ============================
# Apply Modal
============================*/
.apply-modal .modal-header .close {
	font-size: 42px;
	position: absolute;
	top: 10px;
	right: 20px;
	padding: 0;
	line-height: 1;
	margin: 0;
	opacity: .3;
}
.apply-modal .modal-header {
	position: relative;
	text-align: center;
	padding: 70px 46px 0 46px;
	border-bottom: 0;
	margin-bottom: 60px;
}
.apply-modal .modal-header .modal-title {
	font-size: 42px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 28px;
}
.apply-modal .modal-header .modal-title .brand-color { color: var(--brand-primary-color); }
.apply-modal .modal-header p {
	font-size: 20px;
	margin-bottom: 0;
	line-height: 1.4;
}
.apply-modal .modal-body { padding: 0 46px 80px 46px; }
.apply-modal .form-group-btn { text-align: right; }
.apply-modal .custom-control-input {
	width: 18px;
	height: 18px;
}
.apply-modal .custom-control-label { font-size: 18px; }
.apply-modal .custom-control-label:before {
	top: .35rem;
	width: 18px;
	height: 18px;
}
.apply-modal .custom-control-label:after {
	top: .35rem;
	width: 18px;
	height: 18px;
}

@media (max-width: 1199px) {
	.apply-modal .modal-header .modal-title { font-size: 42px; }
}
@media (max-width: 991px) {
	.apply-modal .modal-header .modal-title { font-size: 34px; }
	.apply-modal .modal-header p { font-size: 18px; }
	.apply-modal .modal-body { padding: 0 46px 60px 46px; }
}
@media (max-width: 767px) {
	.apply-modal .modal-header {
		padding: 40px 30px 0 30px;
		margin-bottom: 40px;
	}
	.apply-modal .modal-header .modal-title {
		font-size: 30px;
		margin-bottom: 24px;
	}
	.apply-modal .modal-header .close {
		font-size: 32px;
		top: 5px;
		right: 10px;
	}
	.apply-modal .modal-body { padding: 0 30px 46px 30px; }
	.apply-modal .custom-control-label { font-size: 16px; }
}
@media (max-width: 575px) {
	.apply-modal .modal-header { padding: 46px 20px 0 20px; }
	.apply-modal .modal-header .modal-title {
		font-size: 24px;
		margin-bottom: 18px;
	}
	.apply-modal .modal-header p { font-size: 16px; }
	.apply-modal .form-group-btn { 
		margin-top: 10px;
		text-align: center; 
	}
}


/* ============================
# Media Queries
============================*/
@media (min-width: 1400px) {
	.container-xxl { max-width: 1320px; }
}


/* ============================
# Magnific Popup Extra Styles
============================*/
/*Animation Class*/
.mfp-fade.mfp-bg {
	opacity: 0;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready { opacity: 0.8; }
.mfp-fade.mfp-bg.mfp-removing { opacity: 0; }
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1; }
.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0; }

/*Zoom Animation Class*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container { opacity: 1; }
.mfp-with-zoom.mfp-ready.mfp-bg { opacity: 0.8; }
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg { opacity: 0; }

/* 1973 */